.header {
    width: 100%;
    background-color: #fff;
}

.header a {
    color: #95989A;
    text-decoration: none;
    border-bottom: 1px solid #95989A;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

.header a:hover {
    color: #000;
}

.sitename {
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    background: url("/images/logo.png") no-repeat center center;
    color: #95989A;
}

.sitename a {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding-top: 160px;
    border-bottom: none;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    display: block;
    /*margin-top: -20px;*/
    width: 100%;
    pointer-events: none;
}

.menu li {
    display: inline-block;
    width: 50%;
}

.menu a {
    padding: 0 5px;
    pointer-events: auto;
}

.menu a:hover {
    border-bottom: 1px solid #BCD64D;
}

.worksLink a {
    margin-left: 5%;
}

.aboutLink {
    text-align: right;
}

.aboutLink a {
    margin-right: 5%;
}