.header {
    width: 100%;
    background-color: #fff;
    padding-bottom: 20px;
}

.header a {
    color: #95989A;
    text-decoration: none;
    border-bottom: 1px solid #95989A;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

.header a:hover {
    color: #000;
}

.menu {
    display: block;
    /*margin-top: -20px;*/
    width: 100%;
    pointer-events: none;
}

.menu li {
    display: inline-block;
    width: 50%;
}

.menu a {
    padding: 0 5px;
    pointer-events: auto;
}

.menu a:hover {
    border-bottom: 1px solid #BCD64D;
}

.worksLink a { margin-left: 5%; }
.aboutLink a { margin-right: 5%; }
.worksLink { text-align: left; }
.aboutLink { text-align: right; }

.home {
    width: 100%;
    text-align: center;
}

.home h2 {
    font-weight: bold;
    color: #000;
    font-size: 1.5em;
    margin: 20px 0;
}

.home h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/fm.jpg") no-repeat center center;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #999;
    margin: 20px auto;
}

.title {
    font-weight: bold;
}

.skills {
    padding: 0;
    margin: 40px auto;
    text-align: center;
}

.skills li,
.misc li {
    margin-right: 10px;
    display: inline-block;
    width: 64px;
    height: 64px;
    text-indent: -9999px;
    overflow: hidden;
}

.skills li:last-child,
.misc li:last-child {
    margin-right: 0;
}

.html { background: url("/images/html.png") no-repeat center center; }
.css { background: url("/images/css.png") no-repeat center center; }
.js { background: url("/images/js.png") no-repeat center center; }
.nodejs { background: url("/images/nodejs.png") no-repeat center center; }
.swift { background: url("/images/swift.png") no-repeat center center; }
.photoshop { background: url("/images/photoshop.png") no-repeat center center; }
.illustrator { background: url("/images/illustrator.png") no-repeat center center; }
.playstation { background: url("/images/playstation.png") no-repeat center center; }
.steam { background: url("/images/steam.png") no-repeat center center; }

.misc {
    clear: both;
}

.misc div::after {
    content: '\2764';
    display: block;
    width: 16px;
    height: 16px;
    margin: 10px auto 0 auto;
    color: palevioletred;
}

.misc ul {
    padding: 0;
    margin: 10px auto;
    text-align: center;
}
