.work-item {
    margin-bottom: 70px;
}

.cover {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

.cover img {
    width: 100%;
}

.desc {
    margin: 20px 0;
}

.tech .label {
    margin-right: 5px;
}